
{% extends "blog/base.html" %}

{% block content %}
    <div class="row">
        {% for category in category_list %}



          <h1> {{ category.name }} </h1> <hr />
          {% for shop in category.shop_set.all %}

          <div class="col-sm-4">
              <img src="{{ shop.photo1.url }}" style="max-width: 100%;" />
              <div class="caption">
                  <a href="{% url "blog:shop_detail" shop.pk %}">
                      {{ shop.name }}
                  </a>
              </div>
          </div>
          {% endfor %}
        {% endfor %}
    </div>
  <div class="row">
    <h1> 최근 다섯개 댓글 </h1>
    {% for reviews in recent_reviews %}
    {{ reviews.comment }}
   <img src="{{ reviews.photo.url }}" />
    <hr />
    {% endfor %}



  </div>


  <a href="{% url "blog:category_new" %}">
      새카테고리
  </a>

  <a href="{% url "blog:shop_new" %}">
      새샵
  </a>


{% endblock %}
